<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
        <main class="centered">
            <% for(let product of prods) {%>
            <h1><%= product.title %></h1>
            <hr>
            <div class="image">
                <img src="<%= product.imageURL %>" alt="<%= product.title %>">
            </div>
            <h2><%= product.price %></h2>
            <p><%= product.description %></p>
            <form action="/cart" method="post">
                 <input type="hidden" name="_csrf " value="<%= csrfToken %>">
                <button class="btn" type="submit">Add to Cart</button>
            </form>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>